@import "../../variables.scss";
$navbar-height: 60px;

.navbar {
  background-color: $header-color;
  color: $text-color;
  height: $navbar-height;
  display: flex;
  align-items: center;

  .logo {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: #1e2a5e;
    }
  }
}
.container {
  padding: 0 1rem;
}

.mr-4 {
  margin-right: 4px;
}
