<!-- <div class="password-list">
  <h2>Search</h2>
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>App</th>
        <th>Username</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let password of passwords">
        <td>{{ password.category }}</td>
        <td>{{ password.app }}</td>
        <td>{{ password.userName }}</td>
        <td>
          <button (click)="viewPassword(password.id)">View</button>
          <button (click)="editPassword(password.id)">Edit</button>
          <button (click)="deletePassword(password.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class="container password-list">
  <div class="header justify-content-end pt">
    <button class="add-password btn btn-sm" (click)="addPassword()">
      Add Password
    </button>
  </div>

  <div *ngIf="loading" class="spinner spinner-border text-primary">
    <span class="visually-hidden"></span>
  </div>

  <div>
    <div class="content table-responsive">
      <table
        aria-describedby="passwords"
        class="table"
        *ngIf="passwords?.length || loading; else noPasswords"
      >
        <tr>
          <th (click)="sort('app')" class="pl-3 text-left">
            App
            <span
              class="glyphicon sort-icon"
              *ngIf="sortField == 'app'"
              [ngClass]="{
                'glyphicon-chevron-up': isListDescending,
                'glyphicon-chevron-down': !isListDescending
              }"
            ></span>
          </th>
          <th>Category</th>
          <th>Username</th>
          <th>Actions</th>
        </tr>
        <tbody>
          <ng-container
            *ngFor="
              let password of passwords
                | paginate
                  : {
                      currentPage: page,
                      itemsPerPage: itemPerPage,
                      totalItems: totalPasswords
                    }
            "
          >
            <tr>
              <td class="pl-3 text-left">{{ password.category }}</td>
              <td>{{ password.app }}</td>
              <td>{{ password.userName }}</td>
              <td>
                <div class="flex justify-content-center">
                  <button (click)="viewPassword(password)" class="btn btn-anim">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button (click)="editPassword(password)" class="btn btn-anim">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <button
                    (click)="confirmDelete(password)"
                    class="btn btn-anim"
                  >
                    <i class="delete-icon fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <ng-template #noPasswords>
        <div class="jumbotron text-center">
          <h3>{{ passwordError }}</h3>
        </div>
      </ng-template>
    </div>

    <div
      class="pagination justify-content-between pagination-sticky"
      *ngIf="passwords?.length"
    >
      <!-- <app-pagination-entries
        [data]="{
          pageNumber: page,
          itemPerPage: itemPerPage,
          total: passwords.length ?? 0
        }"
        (onChange)="onChangePerPage($event)"
      ></app-pagination-entries>
      <pagination-controls
        responsive="true"
        nextLabel=""
        previousLabel=""
        (pageChange)="changePage($event)"
      ></pagination-controls> -->
    </div>
  </div>
</div>
<app-delete-confirmation-dialog
  *ngIf="deletePopupShown"
  (closeEvent)="receiveCloseStatus($event)"
  [confirmText]="confirmText"
></app-delete-confirmation-dialog>
