<div class="container password-list">
  <div class="justify-content-end pt">
    <button class="add-password btn btn-sm" (click)="addPassword()">
      Add Password
    </button>
  </div>
  <div>
    <div class="content table-responsive">
      <table
        aria-describedby="passwords"
        class="table"
        *ngIf="passwords?.length; else noPasswords"
      >
        <tr>
          <th>App</th>
          <th>Category</th>
          <th>Username</th>
          <th>Actions</th>
        </tr>
        <tbody>
          <ng-container *ngFor="let password of passwords">
            <tr>
              <td class="pl-3 text-left">{{ password.app }}</td>
              <td>{{ password.category }}</td>
              <td>{{ password.userName }}</td>
              <td>
                <div class="flex justify-content-center">
                  <button
                    (click)="viewPassword(password)"
                    class="btn btn-anim mr-4"
                  >
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button
                    (click)="editPassword(password)"
                    class="btn btn-anim mr-4"
                  >
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <button
                    (click)="confirmDelete(password)"
                    class="btn btn-anim mr-4"
                  >
                    <i class="delete-icon fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <ng-template #noPasswords>
        <div class="jumbotron text-center">
          <h3>{{ passwordError }}</h3>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<app-delete-confirmation-dialog
  *ngIf="deletePopupShown"
  (closeEvent)="receiveCloseStatus($event)"
  [confirmText]="confirmText"
></app-delete-confirmation-dialog>
