// Variables for consistent colors (light theme)
$primary-color: #2c1b47;
$background-color: #dccae9;
$text-color: #343a40;
$secondary-text-color: #6c757d;
$border-color: #dee2e6;
$hover-bg-color: darken($border-color, 5%);

// // Apply the background color to the entire page
// body,
// html {
//   background-color: $background-color;
//   min-height: 100%;
//   margin: 0;
//   padding: 0;
// }

// // Main container for the password list
// .password-list-container {
//   display: flex;
//   justify-content: center; /* Center table horizontally */
//   padding: 20px;
//   min-height: 100vh; /* Full height */
//   background-color: $background-color; /* Background for full page */
// }

.password-list {
  width: 100%;
  max-width: 1200px;

  h2 {
    color: $primary-color;
    margin-bottom: 20px;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    thead {
      tr {
        background-color: $border-color;
        color: #000000;

        th {
          text-transform: uppercase;
          font-weight: bold;
          padding: 15px;
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        background-color: $background-color;
        border-bottom: 1px solid $border-color;
        transition: background-color 0.2s;

        &:hover {
          background-color: $hover-bg-color;
        }

        td {
          padding: 15px;
          color: $text-color;

          &:nth-child(3) {
            font-weight: bold;
          }
        }
      }

      tr:last-child {
        border-bottom: none;
      }
    }
  }
}
