@import "./variables.scss";

body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ibmplexmono,sans-serif";
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  color: #1e2a5e;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #7c93c3;
  }
}
