// Variables
$primary-color: #0052cc; // Bitwarden blue
$background-color: #a27eb8; // Dark background
$text-color: #ffffff; // White text
$secondary-text-color: #9aa0b6; // Lighter text for secondary elements
$border-color: #604d9e; // Light border color
$hover-bg-color: darken($border-color, 5%);
