// Variables
$primary-color: #0052cc; //blue
$background-color: #f5f5f595; // Dark background
$text-color: #131010;
$secondary-text-color: #9aa0b6; // Lighter text for secondary elements
$border-color: #604d9e; // Light border color
$hover-bg-color: darken($border-color, 5%);
$gray: #f8f9fa;
$header-color: #7c93c3;
